html,
body {
  width: 100%;
  color: white;
  background-color: #222222;
}

main {
  padding: 30px;
}

h1 {
  color: #9cd910;
  text-align: center;
  font-size: 40px;
}

h2 {
  color: #ffffff;
}

button {
  margin-top: 30px;
  font-weight: bold;
  font-size: 15px;
  background-color: #f38c01;
  border-style: none;
  border-radius: 5px;
  height: 32px;
  width: 105px;
  border: 1px #ffffff solid;
  box-shadow: 0 0 7px 3px #f38c01;
  text-transform: uppercase;
}

section.primera {
  border-radius: 10px;
  border: 2px #2ea8fb solid;
  padding: 40px;
  margin: 50px 30px;
  box-shadow: 0 0 15px 5px #2ea8fb;
}

section.segunda {
  border-radius: 10px;
  border: 2px #853eb8 solid;
  padding: 30px;
  margin: 50px 30px;
  box-shadow: 0 0 15px 5px #853eb8;
}

section.resultado {
  text-align: center;
}

section.primera p.mensaje {
  font-size: 25px;
  color: #2ea8fb;
  text-shadow: 1px 1px 30px #2ea8fb;
}

section.segunda p.mensaje {
  font-size: 25px;
  color: #853eb8;
  text-shadow: 0 2px, 2px, 5px #ffffff;
  text-shadow: 3px 3px 30px #853eb8;
}

section.resultado p.mensaje {
  font-size: 30px;
}
