html,
body {
  width: 100%;
  color: white;
  background-color: #000000;
}

main {
  padding: 30px;
  font-family: "Rubik", sans-serif;
}

header {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}

img {
  height: 150px;
  margin-left: 15%;
}

.logo {
  margin: 0 auto;
}

h2 {
  color: #ffffff;
}

section.card {
  border-radius: 10px;
  padding: 40px;
  margin: 20px 30px;
  width: 220px;
  height: 500px;
  margin: 25px auto;
}

section.welcome {
  border: 2px #f38c01 solid;
  box-shadow: 0 0 15px 5px #f38c01;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

.categories {
  border: 2px #f5db24 solid;
  box-shadow: 0 0 15px 5px #f5db24;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.first {
  border: 2px #2ea8fb solid;
  box-shadow: 0 0 15px 5px #2ea8fb;
}

section.second {
  border: 2px #853eb8 solid;
  box-shadow: 0 0 15px 5px #853eb8;
}

section.third {
  border: 2px #e40025 solid;
  box-shadow: 0 0 15px 5px #e40025;
}

section.end {
  text-align: center;
  border: 2px #9cd910 solid;
  box-shadow: 0 0 15px 5px #9cd910;
}

.lablebox {
  margin-top: 50px;
  display: inline-block;
}

.box {
  margin-top: 72px;
  width: 220px;
  height: 35px;
  border-radius: 5px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #f38c01;
  text-transform: uppercase;
}

.button {
  font-family: "Rubik", sans-serif;
  margin-top: 30px;
  font-weight: bold;
  font-size: 15px;
  border-style: none;
  border-radius: 5px;
  height: 32px;
  width: 105px;
  border: 1px #ffffff solid;
  text-transform: uppercase;
}

.button:hover {
  font-size: 18px;
  height: 38px;
  width: 120px;
}

section.welcome button {
  color: #ffffff;
  background-color: #f38c01;
  box-shadow: 0 0 7px 3px #f38c01;
}

section.categories button {
  color: #000000;
  background-color: #f5db24;
  box-shadow: 0 0 7px 3px #f5db24;
}

section.first button {
  color: #ffffff;
  background-color: #2ea8fb;
  box-shadow: 0 0 7px 3px #2ea8fb;
}

section.second button {
  color: #ffffff;
  background-color: #853eb8;
  box-shadow: 0 0 7px 3px #853eb8;
}

section.third button {
  color: #ffffff;
  background-color: #e40025;
  box-shadow: 0 0 7px 3px #e40025;
}

section.end button {
  color: #ffffff;
  background-color: #9cd910;
  box-shadow: 0 0 7px 3px #9cd910;
}

#buttonNext3,
#buttonNextPlant3 {
  font-size: 20px;
  height: 40px;
  width: 180px;
}

#buttonNext3:hover,
#buttonNextPlant3:hover {
  font-size: 25px;
  height: 48px;
  width: 220px;
}

p.message {
  font-size: 20px;
  font-weight: bold;
}

section.welcome p.message {
  color: #f38c01;
  text-shadow: 1px 1px 30px #f38c01;
}

section.first p.message {
  color: #2ea8fb;
  text-shadow: 1px 1px 30px #2ea8fb;
}

section.second p.message {
  color: #853eb8;
  text-shadow: 5px 5px 10px #853eb8;
}

section.third p.message {
  color: #e40025;
  text-shadow: 1px 1px 30px #e40025;
}

section.end p.message {
  color: #9cd910;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 1px 30px #9cd910;
}

.hide {
  display: none;
}
